.jumbotron {
  padding-top: 6rem;
  background-color: #c9dfd5;
}

#projects {
  background-color: #c9dfd5;
}

section {
  padding-top: 5rem;
}
#organisasi {
  background-color: #c9dfd5;
}
#contact {
  background-color: #c9dfd5;
}
